*html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: arial, helvetica, sans-serif;
}

h1 {
	color:blue;
}

h3 {
	color: #03366b;
	padding-left: 0.5em;
	font-size:17px;
}

body, .wrapper, .boxContainer, .box {
  padding:0;
}

/* sidebar colours */

#sideBarBlue {
	border-left: 3px solid #03366b;
}

#sideBarGreen {
	border-left: 3px solid #6c9e30;
}

#sideBarOrange {
	border-left: 3px solid #f37021;
}

#sideBarLightBlue {
	border-left: 3px solid #00a0e4;
}

.sideBarBlue-text {
	color:#03366b;
	cursor: pointer;
}

.sideBarGreen-text {
	color:#6c9e30;
	cursor: pointer;
}

.sideBarOrange-text {
	color:#f37021;
	cursor: pointer;
}

.sideBarLightBlue-text {
	color:#00a0e4;
	cursor: pointer;
}





.box-wrapper {
  width: 100%;
  float:left;
}

.box {
	position: relative;
	width:100%;
  background:#eeeeee;
  margin-right:0.25%;
  margin-bottom:0.25%;  
  display:inline-block;
	/*border-left: 3px solid #6c9e30;*/
}

/*.box:nth-of-type(2) {background:orange}*/
/*.box:nth-of-type(3) {background:chartreuse}*/
.box:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content h3 {
	position:  absolute;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 7.5vw;
  line-height: 8.5vw;
  top: 1%;
  left: 2%;
  bottom: 0;
  right: 5%;
}

.content p {
	position:  absolute;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 4.5vw;
  left: 6%;
  bottom: 0;
  right: 2%;
  padding:0;
  margin-bottom: 3%;
}

#record {
	bottom:8%;
}

#pubDate {
	/*bottom:2%;*/
}



/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.box-wrapper {
		width: 75%;
		float:left;
	}

	.box {
		width:47%;
	}

	.content h3 {
    font-size: 3.25vw;
    line-height: 4vw;
	}

	.content p {
    font-size: 2vw;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.box-wrapper {
		width: 75%;
		float:left;
	}

	.box {
		width:30%;
	}
	.content h3 {
    font-size: 2.25vw;
    line-height: 2.5vw;
	}

	.content p {
    font-size: 1.3vw;
	}
}


/* for desktops */
@media only screen and (min-width: 992px) { 
	.box-wrapper {
		width: 75%;
		float:left;
	}

	.box {
		width:15%;
	}

	.content h3 {
	  font-size: 1.2vw;
	  line-height: 1.45vw;
	}

	.content p {
	  font-size: 0.725vw;
	}
}
